<?xml version="1.0"?>
<model>
  <name>3DR Iris with true odometry published</name>
  <version>1.0</version>
  <sdf version='1.6'>iris_odom.sdf</sdf>

  <author>
   <name>Benimino Pozzan</name>
   <email>beniamino.pozzan@phd.unipd.it</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with the true odometry directly published by Gazebo using the P3D plugin.
  </description>
</model>
